@import url('http://fonts.googleapis.com/css?family=Droid+Sans:400,700');

// the main color theme
@color-dark: #111111;
@color-mid: #444444;
@color-light: #888888;
@color-bright: #eeeeee;
@color-hl-light: #005ddc;
@color-hl-dark: #002a66;

// the font we'll be using
.font(@size: inherit, @color: inherit, @weight: inherit) {
    font-family: 'Droid Sans', sans-serif;
    font-size: @size;
    font-weight: @weight;
    color: @color;
}

// fade in
@-webkit-keyframes fade-in {
    from { opacity: 0.0; }
    to   { }
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: @color-dark;
}

#search-bar {
    @font-size: 24px;
    .font(@font-size);

    width: @font-size * 30;

    margin: 15px;

    @hpadding: @font-size * 0.8;
    @vpadding: @font-size * 0.333;

    // fade-in animation
    -webkit-animation-duration: 250ms;
    -webkit-animation-name: fade-in;

    input {
        border-radius: @font-size * 3;
        .font(inherit, @color-bright);

        // placeholder text for the input
        &::-webkit-input-placeholder {
            color: @color-light;
        }
        padding-top: @vpadding;
        padding-bottom: @vpadding;
        padding-left: @hpadding;
        padding-right: @hpadding;

        background-color: @color-mid;
        border: none;
        height: 100%;
        width: inherit;

        // remove ugly built-in highlighting when the box is focused
        &:focus { outline: none; }
    }

    // the autocomplete suggestion list
    ul {
        width: inherit;

        // a suggestion
        li {
            color: @color-bright;
            opacity: 0.2;

            cursor: pointer;

            padding-left: @hpadding;
            padding-right: @hpadding;
            padding-top: @vpadding;
            padding-bottom: @vpadding;

            // don't let text wrap onto multiple lines
            width: inherit;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;

            // quick fade-in
            -webkit-animation-duration: 50ms;
            -webkit-animation-name: fade-in;

            // smooth highlight animation
            -webkit-transition-property: opacity;
            -webkit-transition-duration: 150ms;

            &:hover {
                opacity: 1.0;
            }
        }
    }
}
