@import url('http://fonts.googleapis.com/css?family=Droid+Sans:400,700');

// the main color theme
@color-dark: #111111;
@color-mid: #444444;
@color-light: #888888;
@color-bright: #eeeeee;
@color-hl-light: #005ddc;
@color-hl-dark: #002a66;

// brand colors
@color-amazon: #e47911;
@color-hulu: #69b521;
@color-netflix: #b9090b;

// utility colors
@color-transparent: rgba(255, 255, 255, 0.0);

// the font we'll be using
.font(@size: inherit, @color: inherit, @weight: inherit) {
    font-family: 'Droid Sans', sans-serif;
    font-size: @size;
    font-weight: @weight;
    color: @color;
}

// fade in
@-webkit-keyframes fade-in {
    from { opacity: 0.0; }
    to   { }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: @color-dark;
}

#search-bar {
    @font-size: 32px;
    .font(@font-size);

    width: 100%;
    padding: 15px;

    @hpadding: @font-size * 0.8;
    @vpadding: @font-size * 0.333;

    // fade-in animation
    -webkit-animation-duration: 250ms;
    -webkit-animation-name: fade-in;

    input {
        .font(inherit, @color-bright);

        width: 100%;

        border: none;
        background-color: @color-mid;

        // padding is shared by the input and suggestions
        padding-top: @vpadding;
        padding-bottom: @vpadding;
        padding-left: @hpadding;
        padding-right: @hpadding;

        // remove ugly built-in highlighting when the box is focused
        &:focus { outline: none; }
    }

    // the autocomplete suggestion list
    ul {
        width: inherit;

        // make the suggestions show up, but not take up any vertical space
        height: 0;
        overflow-y: visible;

        // a suggestion
        li {
            color: @color-bright;
            opacity: 0.2;

            cursor: pointer;

            padding-left: @hpadding;
            padding-right: @hpadding;
            padding-top: @vpadding;
            padding-bottom: @vpadding;

            // don't let text wrap onto multiple lines
            width: inherit;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;

            // quick fade-in
            -webkit-animation: fade-in 50ms;

            // smooth highlight animation
            -webkit-transition: opacity 150ms;
            -webkit-transition: font-size 150ms;

            // make sure the suggestion's total height doesn't change
            line-height: @font-size;
            &:hover {
                opacity: 1.0;
                font-size: 1.2em;
            }

            // color results by brand
            @border-size: 3px;
            &.amazon { border-left: @border-size solid @color-amazon; }
            &.hulu { border-left: @border-size solid @color-hulu; }
            &.netflix { border-left: @border-size solid @color-netflix; }
        }
    }
}
